AGAZETA_CESAN_URL="https://www.agazeta.com.br/tema/cesan"
CRON_INTERVAL="1"
REDIS_ADDRESS="localhost:6379"
REDIS_USER=""
REDIS_PASSWORD=""
TELEGRAM_TOKEN=""
TELEGRAM_CHAT_ID=""
ENVIRONMENT="development"